.wel{
    background-color: red;
    color: white;
    height: 5%;
    width: 400px;
}
.jav{
    background-color: blue;
    color: white;
    height: 5%;
    width: 400px;
}
.rea{
    background-color: yellow;
    color: white;
    height: 5%;
    width: 400px;
}
img{
    width: 375px;
}